<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
     "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
    <import resource="classpath:META-INF/conf/knowledge/serviceImpl.xml" />

    <!-- client beans -->
    <bean id="accountServiceClient" class="com.chsi.account.client.AccountServiceClientFactory" factory-method="getAccountServiceClient">
    </bean>

    <!-- action beans -->
   
   <!-- 前台调用action -->
    <bean id="tagViewActionBean"  class="com.chsi.knowledge.view.action.tag.TagAction"  scope="request">
        <property name="tagService" ref="tagService" />
        <property name="systemService" ref="systemService" />
    </bean>
    
    <bean id="knowledgeViewActionBean"  class="com.chsi.knowledge.view.action.knowledge.KnowledgeAction"  scope="request">
        <property name="knowledgeService" ref="knowledgeService" />
        <property name="systemService" ref="systemService" />
    </bean>
    
    <bean id="discussViewActionBean"  class="com.chsi.knowledge.view.action.discuss.DiscussAction"  scope="request">
        <property name="discussService" ref="discussService" />
        <property name="knowledgeService" ref="knowledgeService" />
    </bean>
    
    <!-- 后台管理用action  -->
    
    
    
   
</beans>
