<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
     "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
    <import resource="classpath:META-INF/conf/knowledge/serviceImpl.xml" />

    <!-- client beans -->
    <!-- 单点登录客户端 -->
    <bean id="accountServiceClient" class="com.chsi.account.client.AccountServiceClientFactory" factory-method="getAccountServiceClient">
    </bean>
    <!-- 搜索引擎客户端 
    <bean id="searchClient" class="com.chsi.search.client.SearchServiceClientFactory" factory-method="getSearchServiceClient" />
-->
    <!-- action beans -->
    <!--上传数据的ACTION  -->
    <bean id="uploadActionBean"  class="com.chsi.knowledge.manage.action.UploadAction"  scope="request">
        <property name="tagService" ref="tagService" />
        <property name="systemService" ref="systemService" />
        <property name="knowledgeService" ref="knowledgeService" />
        <property name="knowTagRelationService" ref="knowTagRelationService" />
    </bean>
   
   <!-- 前台调用action -->
    <bean id="knowledgeViewActionBean"  class="com.chsi.knowledge.view.action.KnowledgeAction"  scope="request">
        <property name="knowledgeService" ref="knowledgeService" />
        <property name="systemService" ref="systemService" />
        <property name="tagService" ref="tagService" />
        <property name="knowTagRelationService" ref="knowTagRelationService" />
    </bean>
    
    <bean id="discussViewActionBean"  class="com.chsi.knowledge.view.action.DiscussAction"  scope="request">
        <property name="discussService" ref="discussService" />
        <property name="knowledgeService" ref="knowledgeService" />
    </bean>
    
    <!-- 后台管理用action  -->
        
    <bean id="searchActionBean"  class="com.chsi.knowledge.action.search.SearchAction"  scope="request">
        <property name="knowIndexService" ref="knowIndexService" />
        <property name="systemService" ref="systemService" />
        <property name="knowledgeService" ref="knowledgeService" />
    </bean> 
    
    <bean id="knowledgeActionBean"  class="com.chsi.knowledge.htgl.action.KnowledgeAction"  scope="request">
        <property name="knowIndexService" ref="knowIndexService" />
        <property name="knowledgeService" ref="knowledgeService" />
        <property name="tagService" ref="tagService" />
        <property name="systemService" ref="systemService" />
        <property name="knowTagRelationService" ref="knowTagRelationService" />
        <property name="discussService" ref="discussService" />
    </bean>
    
    <bean id="manageActionBean"  class="com.chsi.knowledge.manage.action.ManageAction"  scope="request">
        <property name="knowIndexService" ref="knowIndexService" />
        <property name="knowledgeService" ref="knowledgeService" />
        <property name="tagService" ref="tagService" />
        <property name="systemService" ref="systemService" />
    </bean>
   
    <bean id="systemActionBean"  class="com.chsi.knowledge.htgl.action.SystemAction"  scope="request">
        <property name="systemService" ref="systemService" />
        <property name="tagService" ref="tagService" />
    </bean>
    
    <bean id="tagActionBean"  class="com.chsi.knowledge.htgl.action.TagAction"  scope="request">
        <property name="systemService" ref="systemService" />
        <property name="tagService" ref="tagService" />
        <property name="knowTagRelationService" ref="knowTagRelationService" />
    </bean>
    
    <bean id="recycleActionBean"  class="com.chsi.knowledge.htgl.action.RecycleAction"  scope="request">
        <property name="knowledgeService" ref="knowledgeService" />
        <property name="knowIndexService" ref="knowIndexService" />
        <property name="knowTagRelationService" ref="knowTagRelationService" />
    </bean>
   
    <bean id="fileActionBean"  class="com.chsi.knowledge.file.action.FileAction"  scope="request">
    </bean>
    
    <bean id="htglSearchActionBean"  class="com.chsi.knowledge.htgl.action.SearchAction"  scope="request">
        <property name="knowIndexService" ref="knowIndexService" />
        <property name="systemService" ref="systemService" />
        <property name="knowledgeService" ref="knowledgeService" />
    </bean>
    
    <bean id="qaActionBean"  class="com.chsi.knowledge.robot.action.QAAction"  scope="request">
        <property name="robotService" ref="robotService" />
        <property name="knowIndexService" ref="knowIndexService" />
    </bean>
    
    <bean id="robotSetActionBean"  class="com.chsi.knowledge.htgl.action.RobotSetAction"  scope="request">
        <property name="robotService" ref="robotService" />
    </bean>
    
    <bean id="totalActionBean"  class="com.chsi.knowledge.htgl.action.TotalAction"  scope="request">
        <property name="robotService" ref="robotService" />
    </bean>
   
</beans>
