@charset "utf-8";
/* CSS for content */
.daohang{ height:50px;  clear:both; padding:15px 0px 0px 28px; margin-left:15px;}

.daohang  li{ display:block; float:left;  background:url(../images/dh_l.gif)  no-repeat; padding-left:28px;  line-height:36px;  margin-left:-20px;}
.daohang span{  background:url(../images/dh_r.gif)  right top no-repeat; height:36px; font-weight:bolder; font-size:14px; padding-right:28px; float:left; display:inline; }


.daohang  li.current{  background:url(../images/dh_now.jpg)  no-repeat;   }

.daohang li.current span{ background:url(../images/dh_now_r.jpg) right top no-repeat; color:#FFF; margin-right:3px;}

.content_box h3{ padding:6px; text-indent:2em; background:url(../images/box/status_icon.jpg) no-repeat 1em center; font-size:16px; border-bottom:solid #e6e6e6 1px; margin:10px auto; }

.daohang span.last_one{  background:none; }
.daohang li.current span.last_one{ background:#075198;}

.sys_dt { border:solid #ddd 1px; background-color:#f8f3ee; padding:5px 15px; line-height:24px;} /*系统动态*/

.color_ff6000 { color:#ff6000;} /*标记信息*/
.color_f00 { color:#F00;}
.font_weight{ font-weight:bolder;}
.font14{ font-size:14px;}
.font12{ font-size:12px;}
.font_normal { font-weight:normal}

/*主表格样式渲染*/
.table_main{ width:690px; background:#fff url(../images/box/table_th.jpg) repeat-x  left top;}  
.table_main th{ height:32px; color:#FFF; font-size:14px;}
.table_main td{ padding:5px 0;}
.tr_line{ background:url(../images/box/tr_line.gif) repeat-x left bottom;} 
.th_line{ background:url(../images/box/th_line.jpg) no-repeat left center;}

.table_line{ margin-top:3px; height:5px;/* background:#fff url(../images/box/table_th.jpg)  no-repeat center;*/ } /*修饰*/

.table_main a,.table_main a:link{ text-decoration:underline;}

/*流程指示*/
.cross_liucheng{  padding:10px;}
.cross_liucheng li{ display:inline; font-size:12px; font-weight:bold; margin:0 2px;}
li.now_cross{ color:#900; font-size:14px; text-decoration:underline;}


/*我的认证申请*/
.content_box h1{  font-size: 18px;
    margin: 3px auto;
    padding: 6px;
    text-indent: 10px;}
.tips_msg{ border:solid 1px #F0D692; margin:10px; padding:10px; background:#FFFFE3;  }
.tips_msg p{ text-indent:40px; font-size:14px; color:#CC0000; font-weight:bold; text-align:center;}

input.bnt_down{ padding:2px 3px; font-weight:bold; color:#cc0000;}
/*我的学历列表*/
.submit_bnt{ color:#FFF; font-size:12px; text-align:center; background:url(../images/box/bnt_submit.jpg) no-repeat; border:0px; cursor:pointer; font-weight:bold; padding:0px; width:82px; height:26px; margin:5px 0; line-height:26px;}
.dis_submit_bnt{ color:#FFF; font-size:12px; text-align:center; background:url(../images/box/dis_bnt_submit.jpg) no-repeat; border:0px; cursor:pointer; font-weight:bold; padding:0px; width:82px; height:26px; margin:5px 0; line-height:26px;}

span.add_xueli{ float:right; font-size:12px; text-indent:15px; background:url(../images/box/bnt_icon.gif) no-repeat left center;}
span.add_xueli a{ color:#7f7f7f}
span.add_xueli a:hover{ color:#333}

.test_wrap{ width:600px; height:400px;  background:#ccc; position:absolute; z-index:1000; top:20%; display:none;}/*弹出层*/

/*我的收件地址*/
.table_address{ width:680px; margin:0 auto; background:#fff; }
.input_180{ width:130px;}
.save_success{ border:solid 1px #F0D692; margin:10px; padding:10px; background:#FFFFE3; }
.save_success p{ padding-left:40px; font-size:14px; background:#FFFFE3 url(../images/box/save_success.gif) no-repeat 20px center; }

.save_error{  border:solid 1px #F0D692; margin:10px; padding:10px; background:#FFFFE3;}
.save_error p{ padding-left:43px; font-size:14px;  background:#FFFFE3 url(../images/box/save_error.gif) no-repeat 20px center;}
/*选择认证服务*/
.big_tr_line{ background:url(../images/box/big_tr_line.jpg) repeat-x left bottom;} 

/*申请人信息及邮寄方式*/
h3.blue_line { border-bottom:solid #058dbd 1px; }/*修饰*/
.sqr_box{ padding:4px 16px; } /*申请人*/
.select_100{ width:100px;} 
.post_ul{ padding:4px 16px;} /*邮寄方式*/
.post_ul li{ padding:3px;}


li.addr_radio { text-indent:-19px; padding-left:22px; text-align:justify;}
.other_addr{  border-top:solid 1px #7ab1c5;border-bottom:solid 1px #7ab1c5; border-left:none; border-right:none; background-color:#e4f2f7; padding:10px 18px; margin:5px 10px; line-height:26px;}
.invoice{ padding:0px 5px; } /*发票*/

.grey_block{ border-top:solid 1px #7ab1c5;border-bottom:solid 1px #7ab1c5; border-left:none; border-right:none; background-color:#e4f2f7; padding:10px 18px; margin:5px 10px;}
.invoice_company{ margin-top:5px; line-height:24px; }  /*单位名称--发票*/
.tips_warning{ color:#999;}
.ly_box{padding:4px 16px; } /*留言*/


/*完成付款*/
.pay_go_tips{ border:solid 1px #F0D692; margin:10px; padding:15px;  background:#FFFFE3 url(../images/box/tips_icon.gif) no-repeat 15px center; }
.pay_go_tips p{ text-indent:40px; font-size:14px;}

.pay_success_tips{  padding:4px 16px;}
.pay_success_tips a{ color:#990000; text-decoration:underline; font-weight:bold;}
.pay_success_tips a:hover{ color:#990000; text-decoration:none; font-weight:bold;}

/*受理查看*/
.sl_result li{ border-bottom:dotted 1px #ccc; padding:5px 0px;}